
<header class="navbar">
 <div class="navbar-item" [routerLink]="['/buyerdashboard/artworksb']" routerLinkActive="active">
   <span class="navbar-text">Artworks</span>
 </div>
 <div class="navbar-item" [routerLink]="['/buyerdashboard/cart']" routerLinkActive="active">
   <span class="navbar-text">Cart</span>
 </div>
 <div class="navbar-item" routerLink="/buyerdashboard/wishlist" routerLinkActive="active">
   <span class="navbar-text">Wishlist</span>
 </div>
 <div class="navbar-item" routerLink="/buyerdashboard/buyer_orders" routerLinkActive="active">
   <span class="navbar-text">My Orders</span>
 </div>
 <div class="navbar-item" routerLink="/buyerdashboard/myprofile" routerLinkActive="active">
   <span class="navbar-text">Settings</span>
 </div>
 <div class="navbar-item logout-item" (click)="logout()" style="cursor: pointer;">
   <span class="navbar-text">Logout</span>
 </div>
</header>