/* sidenav.component.css */

.sidebar {
  width: 220px;
  background-color: #f3f3f3; 
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
 
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
}

.sidebar-item:hover {
  background-color: #bedcfc;
}

.sidebar-icon {
  margin-right: 15px;
  font-size: 18px;
  width: 20px;
}

.sidebar-text {
  font-size: 16px;
}

.badge {
  background-color: #e74c3c;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  position: absolute;
  right: 20px;
}

.logout-item {
  margin-top: auto;
  border-top: 1px solid #e9ecef;
}

.logout-item:hover {
  background-color: #c99191;
}

.logout-item .sidebar-text {
  color: #070607;
}

.logout-item:hover {
  background-color: #f8d7da;
}

/* Responsive Design for Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;
    flex-direction: row;
    overflow-x: auto;
    padding: 1rem;
  }
  
  .sidebar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }
}