<!-- 
  <div class="container-fluid dashboard-container">
    <app-mainnav></app-mainnav>
  
    <main class="row">
      <div class="col-lg-3">
        <app-sidenav></app-sidenav>
      </div>
  
      <div class="col-lg-9 dashboard-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div> -->

<app-mainnav></app-mainnav>
<main class="row">
  <div class="col-lg-3">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-lg-9 dashboard-content">
    <router-outlet></router-outlet>
  </div>
</main>

    